header {
    height: 80vh;
    padding: 50px 50px 0 50px;
    margin-top: 8%;
}

.container-name {
    font-size: xx-large;

}
.name > span,
h1 {
    display: inline-block;
}

.name > span {
    margin-left: 30px;
    margin-bottom: 100px;
    opacity: 0.8;
}
header > .container-media {
    text-align: end;
    margin-right: 30px;
}

@media screen and (max-width:800px) {
    header{
        padding: 25px 25px 0 25px;
    }
    .container-name > p{
        text-align: justify;
    }
    .name{
        text-align: center  ;
        margin-right: -18%;
    }
    .name > span{
        margin: 15px;
    }

    header > .container-media{
        text-align: center;
        margin: 25px 0;
    }
}