header {
    height: 80vh;
    padding: 50px 50px 0 50px;
    margin-top: 8%;
}

.container-name {
    font-size: xx-large;

}
.name > span,
h1 {
    display: inline-block;
}

.name > span {
    margin-left: 30px;
    margin-bottom: 100px;
    opacity: 0.8;
}
header > .container-media {
    text-align: end;
    margin-right: 30px;
}
