*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
   padding: 0 100px;
    color: #414552;
}

a:active{
    color: inherit;
}

ul{
    list-style: none;
}

h2,h3{
    font-size: xx-large;
    margin-bottom: 20px;
}


main{
    padding: 50px 50px 0 50px;
}

footer{
    padding: 0 50px 50px 50px;
}

.line{
    height: 4px;
    width: 100%;
    margin-top: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,255,45,0.9948354341736695) 0%, rgba(0,212,255,1) 100%);
    display: block;
}
@media  screen and (max-width:800px) {
    #app{
        padding: 0;
    }
    header{
        padding: 0;
    }
}
