*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   padding: 0 100px;
    color: #414552;
}

a:active{
    color: inherit;
}

ul{
    list-style: none;
}

h2{
    font-size: xx-large;
}

main,footer{
    padding: 50px;
}